# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7cef760e35933c5e5ad17d6bc5b2a3bbce276b60600e66752fd73648430fe9d2280c652296e0076e74f3d990afa8cf7381933ecb2649c9cbc5969657e1e0762b

test:
  secret_key_base: 7b3ef58712292b31ed2afa705f1d4a1adf9c3bf9f5ca8160a41ca53ced3c7fd3cbfd3de189eaaba3da56f12d914f1e5b4369d7c6fc3d8e85a7cb71b897ad0237

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
